<div class="m-32">
  <p style="color: green"><%= notice %></p>

  <h1 class="mb-11 text-3xl">Public Recipes</h1>

  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <%= render "/public_recipes/recipe", recipe: recipe %>
    <% end %>
  </div>
</div>

