<div class="m-20">

  <h1 class="mb-11 text-3xl">My Recipes</h1>

  <% if user_signed_in? %>
    <div id="recipes">
      <% @recipes.each do |recipe| %>
        <%= render recipe %>
      <% end %>
    </div>

    <%= link_to "Add a New recipe", new_recipe_path, class:"border-solid rounded-md border-2 border-slate-200 p-2 bg-[#11537d] hover:bg-cyan-500 text-white" %>
  <% else %>
    <h3 class="mb-8">Please log in to see your recipes!</h3>
    <%= link_to "Log in", new_user_session_path, class:"border-solid rounded-md border-2 border-slate-200 p-2 bg-slate-200 hover:bg-slate-400" %>
  <% end %>

</div>