<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<%= link_to "New food", new_food_path %>

<div id="foodsList">
  <table>
    <tr>
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </table>
</div>

