<div class="m-32 flex flex-col items-center">

  <h1 class="mb-11 text-3xl">New food</h1>

  <%= render "form", food: @food %>

  <br>

  <div class="mt-20">
    <%= link_to "Back to Foods", foods_path, class:"self-start border-solid rounded-md border-2 borde  r-slate-200 p-2 bg-[#11537d] hover:bg-cyan-500 text-white" %>
  </div>

</div>